= link_to 'New Job', new_job_path, class: "new_job_link"
%ul
  - @jobs.each do |job|
    %li
      = link_to(job, class: "job_link") do
        %strong.job_title
          = job.title
        %span.description
          = job.description
      = link_to 'Edit', edit_job_path(job)