%h2 Sign In

= form_for @user_session, url: user_session_path do |f|
	- if @user_session.errors.any?
		#error_explanation
			%h2= "#{pluralize(@user_session.errors.count, "error")} prohibited this user from being saved:"
			%ul
				- @user_session.errors.full_messages.each do |msg|
					%li= msg
	.field
		= f.label :email
		= f.text_field :email
	.field
		= f.label :password
		= f.password_field :password
	
	.field
		= f.submit "Log In"