!!! 5
%html
%head
	%title Easy Jobs!
	= stylesheet_link_tag href='http://fonts.googleapis.com/css?family=Rokkitt'
	= stylesheet_link_tag "screen.css", media: "screen, projection"
	= stylesheet_link_tag "print.css", media: "print"
	/[if lt IE 8]
		= stylesheet_link_tag "ie.css", media: "screen, projection"
	= stylesheet_link_tag    "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags

%body
	#wrapper

		#header
			= link_to root_url do
				%h1#logo
					Easy Jobs!
			%p.notice= flash[:notice]
			%p.error= flash[:error]
	
		#user_bar
			- if current_user
				Logged In as #{current_user.name}
				|
				= link_to "Sign Out", sign_out_url
			- else
				= link_to "Register", register_url
				|
				= link_to "Sign In", sign_in_url
		
		#content
			= yield